wds_api_auth_authenticate: &wds_api_auth_authenticate_with_slash
    path:     /authenticate/
    methods:  [ OPTIONS, POST ]
    controller: WernerDweight\ApiAuthBundle\Controller\AuthenticateController::index
    defaults:
        _format: json

wds_api_auth_authenticate_without_slash:
    <<: *wds_api_auth_authenticate_with_slash
    path: /authenticate
    defaults:
        _route_override: wds_api_auth_authenticate
